/* .background {
    background: linear-gradient(80deg, white, blue, red);
} */

.p__opensans {
    font-family: var(--font-alt);
    color: blue;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 28px;
    font-size: 20px;
}

.flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.club_name {
    Font-family: var(--font-alt);
    color: blue;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 28px;
    font-size: 24px;
}

@media screen and (max-width: 1150px) {
    .app__wrapper {
        flex-direction: column;
    }

    .app__wrapper_img {
        margin: 5rem 0 0 0;
    }

    .app__wrapper_img-reverse {
        margin: 0 0 5rem 0;
    }

    .app__wrapper_img img {
        width: 100%;
    }
}